body{
    background-color: rgb(165, 42, 99);
    color:azure ;
}

img{
    width: 400px;
    display: block;
    margin: auto;
    border: solid 5px lightgoldenrodyellow;
    padding: 5px;
}